 <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
</script>
<div class="aligncenter">
  <% if (config.author){ %>
  Copyright &copy; <%= new Date().getFullYear() %>  <%= config.author %>
  <% } else { %>
  &copy; <%= new Date().getFullYear() %> <%= config.title %>
  <% } %> | 
  <span id="busuanzi_container_site_pv">
    本站总访问量<span id="busuanzi_value_site_pv"></span>次
  </span>
  &nbsp <a href="/atom.xml">RSS</a>
</div>
<div class="clearfix"></div>
